{% extends 'main.html' %}

{% block content %}
<style>
    textarea{
        resize: none;
    }
    .bg-danger {
        --bs-bg-opacity: 0.8;
    }
    .start-pos{
        left: 0% !important;
    }
    @media(min-width:2250px){
        .custom-row{
            flex: 0 0 auto;
            width: 65%;
            margin-top: 1.5rem !important;
        }
        main{
            font-size: 1.35rem;
        }
        .container{
            max-width: 2000px;
        }
        html{
            font-size: 1.5rem;
        }
    }
</style>
{% if page == 'add' %}
<div class="container py-5 d-flex justify-content-center align-items-center">
    <div class="row custom-row col-12 col-sm-8">
        <div class="col-md-8 offset-md-2">
            <form action="" method="POST" enctype="multipart/form-data" novalidate>
                <div class="container">
                    <p class="h2">Add image</p>
                    {% csrf_token %}
                    {% for field in form %}
                    {% if field.label == 'Is private' %}
                    <div class="col my-3 form-check form-switch">
                        {{ field }}
                        <label for="{{field.label}}" class="form-check-label"><small>Private image</small></label>
                    </div>
                    {% else %}
                    <div class="col my-3">
                        <label for="{{ field.label }}">{{ field.label }}:</label>
                        {{ field }}
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="row">
                        <div class="btn-group">
                            <a href="{% url 'home' %}" class="btn btn-lg btn-outline-secondary me-2 mx-2 my-2">Go back</a>
                            <button type="submit" class="btn btn-lg btn-success ms-2 mx-2 my-2">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
{% else %}
<div class="container my-5 py-5 d-flex justify-content-center align-items-center">
    <div class="row my-form">
        <div class="col-md-8 offset-md-2">
            <form action="" method="POST" enctype="multipart/form-data">
                <div class="container">
                    <p class="h2">Edit image</p>
                    {% csrf_token %}
                    {% for field in form %}
                    {% if field.label == 'Tags' %}
                    <div class="col my-3">
                        <label for="{{ field.label }}">{{ field.label }}:</label>
                        <input type="text" name="tags" value="{% for tag in image_tags %} {{tag.name}}, {% endfor %}"
                        class = "form-control" id="id_tags" />
                    </div>
                    {% elif field.label == 'Is private' %}
                    <div class="col my-3 form-check form-switch">
                        {{ field }}
                        <label for="{{field.label}}" class="form-check-label"><small>Private image</small></label>
                    </div>
                    {% else %}
                    <div class="col my-3">
                        <label for="{{ field.label }}">{{ field.label }}:</label>
                        {{ field }}
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="row">
                        <div class="btn-group">
                            <a href="{% url 'home' %}" class="btn btn-outline-secondary me-2 mx-2 my-4">Go back</a>
                            <button type="submit" class="btn btn-success ms-2 mx-2 my-4">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
{% endif %}
        </div>
        <!-- Error messages start -->
        {% for field in form %}
        {% if field.errors %}
        <div aria-live="polite" aria-atomic="true" class="position-relative">
            <div class="toast-container position-relative start-pos p-1">
            {% for error in field.errors %}
            <div class="toast bg-danger fade show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto fs-6">{{field.label}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
                </div>
                <div class="toast-body text-ligth fs-6">
                    {{error}}
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endfor %}
    <!-- Error messages end -->
    </div>
</div>

{% endblock content %}
