{% extends 'main.html' %}
{% load static %}
{% block content %}
<style>
    .img-fluid{
        max-width: 1422px;
        max-height: auto;
        min-width: 60px;
        min-height: auto;
    }
    @media(min-width:2250px){
        .container{
            max-width: 1800px !important;
        }
    }
</style>
<div class="container py-1">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-sm-10 shadow">
            <img class="col-12 d-flex rounded img-fluid mx-auto p-2" src="{{ image.image.url }}" alt="{{ image.title }}">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10">
                        <h1 class="fw-light"><b>{{image.title|title}}</b></h1>
                        <p class="mb-1" style="font-size: 12px; color: grey;">created {{image.created_at|timesince}} ago</p>
                        {% if image.created_at != image.updated_at %}
                        <p class="mb-1" style="font-size: 12px; color: grey;">updated {{image.updated_at|timesince}} ago</p>
                        {% endif %}
                    </div>
                    <div class="col-sm-2 text-center">
                        {% if image.host == null %}
                        <p style="color: var(--bs-secodary-color)">user deleted :(</p>
                        {% else %}
                        <a href="{% url 'profile' image.host.id %}" style="text-decoration: none; color: var(--bs-secodary-color)">
                            <img class="bg-info rounded-circle justify-content-end" src="{% if image.host.avatar %}{{image.host.avatar.url}}{% else %}{% static 'images/default_avatar.png' %}{% endif %}" style="width: 55px; text-decoration: none;">  
                            @{{image.host.username}}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <hr>
            <p>{{image.description|linebreaks }}</p>
            {% if image_tags %}
            <hr>
            <p class="lead text-body-secondary">Tags: {% for tag in image_tags %} {{tag.name}}{% if forloop.counter != tags_amount %},{% endif %}{% endfor %}</p>
            {% endif %}
            <div class="col-md-12">
                <a href="{% url 'download-image' image.id %}" class="btn btn-primary my-2 col-md-5 me-5">Download image</a>
                {% if request.user == image.host %}
                <a href="{% url 'edit-image' image.id image.unique_name %}" type="button" class="btn btn-outline-info col-md-2 ms-5 me-5">Edit</a>
                <a href="{% url 'delete-image' image.id image.unique_name %}" type="button" class="btn btn-outline-danger col-md-2">Delete</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}% u