{% extends 'main.html' %}

{% block content %}
<style>
    textarea{
        resize: none;
    }
    #id_phone_number_1{
        flex: 1 0 50% !important;
        
    }
    .start-pos{
        left: 100% !important;
    }
    .bg-danger {
        --bs-bg-opacity: 0.8;
    }
</style>
<!-- Error messages start -->
<div class="container position-absolute">
    {% for field in form %}
    {% if field.errors %}
    <div class="toast-container position-relative start-pos p-1">
        {% for error in field.errors %}
        <div class="toast bg-danger fade show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto fs-6">{{field.label}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
            </div>
            <div class="toast-body text-ligth fs-6">
                {{error}}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endfor %}
</div>
<!-- Error messages end -->
<div class="container d-flex justify-content-center align-items-center">
    <div class="row col-12 col-sm-11 col-md-9 col-lg-7 col-xl-6">
        <form action="" method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <div class="row">
                {% csrf_token %}
                <h3 class="mb-3 fw-normal">Edit your account information</h3>
                {% for field in form %}
                {% if field.name in excluded_fields %}
                <div class="col-lg-12 row row-gap-1">
                    <label for="{{field.name}}">{{field.label}}:</label>
                    {{field}}
                </div>
                {% else %}
                <div class="col-lg-6 row row-gap-1">
                    <label for="{{field.name}}">{{field.label}}:</label>
                    {{field}}
                </div>
                {% endif %}    
                {% endfor %}
                <div class="row">
                    <a href="{% url 'delete-account' request.user.id %}" class="btn btn-outline-danger col-sm-12 col-md-12 col-lg-6 me-md-4 my-3">Delete account</a>
                    <a href="{% url 'home' %}" class="btn btn-lg btn-outline-secondary col-sm-12 me-2 col-md-6 my-3">Go back</a>
                    <button class="btn btn-lg btn-primary col-sm-12 col-md my-3 me-lg-4" type="submit" value="Submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}