{% extends 'main.html' %}
{% load static %}
{% block content %}
<style>
    a:hover img {
        transform: scale(1.05);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    img {
    transition: transform 0.28s;
    }
</style>
<section class="gradient-custom-2">
    <div class="container py-1">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-10 col-xl-7">
        <div class="card shadow-lg">
            <div class="rounded-top text-white d-flex" style="background-color: #000; height:200px;">
                <div class="ms-4 mt-md-4 mt-5 pt-5 pt-sm-0 d-flex flex-column" style="width: 235px;">
                    
                    <img src="{{ user.avatar.url }}" alt="avatar" class="img-fluid img-thumbnail mt-4 mb-2"
                    style="width: 235px; z-index: 1">

                    {% if user.id == request.user.id %}
                        <a href="{% url 'edit-user' user.id %}" type="button" class="btn btn-outline-light" data-mdb-ripple-color="dark"
                        style="z-index: 1;">Edit profile</a>
                    {% else %}
                        <a href="/" type="button" class="btn btn-outline-light" data-mdb-ripple-color="dark" style="z-index: 1;">
                            Follow ✓
                        </a>
                    {% endif %}
                </div>
                <div class="ms-3" style="margin-top: 130px; width: 400px;">
                    <h5>{{user.first_name|title}} {{user.last_name|title}}</h5>
                    <p>{{user.country|add:" | "}}{{user.city}}</p>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-md-4 pt-4 fs-5">
                                <p class="mb-1 h5">{{images.count}}</p>
                                <p class="small text-muted mb-0">Photos</p>
                            </div>
                            <div class="col col-md-5 pt-4 fs-5">
                                <p class="mb-1 h5">1026</p>
                                <p class="small text-muted mb-0">Followers</p>
                            </div>
                            <div class="col pt-4 fs-5">
                                <p class="mb-1 h5">478</p>
                                <p class="small text-muted mb-0">Following</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container pt-5 mt-5">
                <div class="px-4 pt-5 pb-0">
                    <div><br><br><br><br></div>
                    <br>
                    <h4>User info:</h4>
                    <br>
                    <ul>
                        <li>
                            <strong>Username:</strong> {{user.username|title}}
                        </li>
                        <li>
                            <strong>Phone_number:</strong> {{user.phone_number}}
                        </li>
                        <li>
                            <strong>Email:</strong> {{user.email|urlize}}
                        </li>
                        <li>
                            <strong>Adress:</strong> {{user.adress}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container p-4">
                <p class="lead fw-normal mb-1">About</p>
                <p class="font-italic mb-1">{{user.bio|linebreaks|urlize}}</p>
            </div>
            <div class="card-body p-4 bg-body-tertiary">
                
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <p class="lead fw-normal mb-0 fs-4"><strong>Recent images</strong></p>
                    <p class="mb-0"><a href="{% url 'user-images' user.id %}" class="link-body-emphasis link-underline-opacity-0 link-opacity-50-hover">See all images</a></p>
                </div>
                <div class="row g-2">
                    {% for image in images %}
                    {% if forloop.counter < 5 %}
                        {% if forloop.counter0|divisibleby:2 %}
                        <div class="col">
                            <a href="{% url 'view-image' image.id image.unique_name %}"><img src="{{image.image.url}}"
                                alt="image {{forloop.counter}}" class="w-100 rounded-3 shadow" style="max-height: 500px;"></a>
                            {% else %}
                            <a href="{% url 'view-image' image.id image.unique_name %}"><img src="{{image.image.url}}"
                                alt="image {{forloop.counter}}" class="w-100 rounded-3 shadow" style="max-height: 500px;"></a>
                        </div> 
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</section>

{% endblock content %}