<!doctype html>
{% extends 'main.html' %}
{% load static %}
{% block content %}
<style>
    .btn-sm {
    padding: 5px 18px;
    font-size: 14px;
}
</style>
<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Images by <strong>{{user.username}}</strong></h1>
            <p class="lead text-body-secondary">Here you can see all images that {{user.username}} posts on our website :).</p>
            <p>
            <a href="{% url 'profile' user.id %}" class="btn btn-outline-dark btn-lg my-2">Go back</a>
            </p> 
        </div>
        </div>
    </section>
{% include 'album_component.html' %}
</main>
{% endblock content %}