{% extends 'main.html' %}
{% block content %}
<style>
    #id_phone_number_1{
        flex: 1 0 50% !important;
        
    }
    textarea{
        resize: none;
    }
    .start-pos{
        left: 85% !important;
    }
    .bg-danger {
        --bs-bg-opacity: 0.8;
    }
    @media(min-width:2250px){
        .register-row{
            flex: 0 0 auto;
            width: 65%;
            margin-top: 1.5rem !important;
        }
        .form-control{
            height: 50px;
        }
        .album-row>* {
        flex: 0 0 auto;
        width: 25%;
    }
        .container{
            max-width: 2000px;
        }
        html{
            font-size: 1.5rem;
        }
        #id_bio{
            height: 200px;
        }
    }
</style>
<main>
    <!-- Register page start -->
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row col-12 col-sm-8 col-md-6 col-lg-5 register-row">
            <form action="" method="POST" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <div class="row">
                    <h3 class="mb-3 fw-normal">Register new account</h3>
                    {% for field in form %}
                    {% if field.name in excluded_fields %}
                    <div class="col-lg-12 row-column row row-gap-1">
                        <label for="{{field.id_for_label}}">{{field.label}}:</label>
                        {{field}}
                    </div>
                    {% else %}
                    <div class="col-lg-6 row row-gap-1">
                        <label for="{{field.id_for_label}}">{{field.label}}:</label>
                        {{field}}
                    </div>
                    {% endif %}    
                    {% endfor %}
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'home' %}" class="btn btn-lg btn-outline-secondary w-50 me-1 my-3">Go back</a>
                        <button class="btn btn-lg btn-primary w-50 ms-1 my-3 me-5" type="submit" value="Submit">Sign in</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Error messages start -->
    <div class="container">
    {% for field in form %}
    {% if field.errors %}
    <div class="toast-container position-relative start-pos translate-middle p-1">
        {% for error in field.errors %}
        <div class="toast bg-danger fade show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto fs-6">{{field.label}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
            </div>
            <div class="toast-body text-ligth fs-6">
                {{error}}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endfor %}
    </div>
    <!-- Error messages end -->
    <!-- Register page end -->
</main>
{% endblock content %}  