{% load static %}
{% if images %}
<style>
    .card-image{
        height: 325px;
    }
    a:hover img {
        transform: scale(1.085);
    }
    .card-image img {
    max-height: 325px;
    min-height: 270px;
    transition: transform 0.3s;
    }
    .page-link{
        padding-left: 35px !important;
        padding-right: 35px !important;
    }
    .page-arrow{
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
    .image {
    overflow: hidden;
    }
    @media(max-width: 630px){
        .page-link{
            padding-left: 23px !important;
            padding-right: 23px !important;
        }
        .page-arrow{
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
    }
    @media(max-width: 450px){
        .page-link{
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
        .page-arrow{
            padding-left: 6px !important;
            padding-right: 6px !important;
        }
    }
    @media (max-width: 359px) {
        .card-title{
            height: 130px;
        }
        .card-image{
            height: 230px !important;
        }
        .card-text{
            height: 195px !important;
        }
        .page-link{
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
        .page-arrow{
            padding-left: 4px !important;
            padding-right: 4px !important;
        }
    }
    @media(min-width:2250px){
        .album-row>* {
        flex: 0 0 auto;
        width: 25%;
        }
        .dropdown-menu{
            width: 250px !important;
        }
        .btn-form{
            margin-bottom: 1rem !important;
        }
        .page-link{
            padding-left: 52.5px !important;
            padding-right: 52.5px !important;
        }
        .page-arrow{
            padding-left: 24px !important;
            padding-right: 24px !important;
        }
    }
</style>
<!-- Image container starts -->
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <h3 class="d-flex justify-content-center py-5"><p>Gallery feed</p></h3>
        <!-- Default dropright button -->
        {% if q == '' %}
        <div class="row">
            <form action="" method="GET" class="btn-form">
                {% csrf_token %}
                <div class="btn-group dropup-center dropup">
                    <button data-bs-offset="0,5" type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <some_tag class="fs-6 fw-medium">Sort by: {{sort|lower}}</some_tag>
                    </button>
                    <div class="dropdown-menu">
                        <!-- Dropdown menu links -->
                        <div class="row">
                            <a class="ms-2 mb-2 link-body-emphasis link-underline-opacity-0 link-opacity-50-hover fs-6" href="{% url 'home' %}">Most popular (default)</a>
                            <a class="ms-2 mb-2 link-body-emphasis link-underline-opacity-0 link-opacity-50-hover fs-6" href="{% url 'home' %}?sort=last_updated">Last updated</a>
                            <a class="ms-2 mb-2 link-body-emphasis link-underline-opacity-0 link-opacity-50-hover fs-6" href="{% url 'home' %}?sort=most_recent">Most recent</a>
                            <a class="ms-2 mb-2 link-body-emphasis link-underline-opacity-0 link-opacity-50-hover fs-6" href="{% url 'home' %}?sort=least_recent">Least recent</a>
                            <a class="ms-2 link-body-emphasis link-underline-opacity-0 link-opacity-50-hover fs-6" href="{% url 'home' %}?sort=least_popular">Least popular</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        {% endif %}
        <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 album-row g-3 shadow-sm">
            {% for image in page_obj %}
            <div class="col">
                <div class="card shadow">
                    <span class="card-image image">
                        <a href="{% url 'view-image' image.id %}">
                            <img class="rounded card-img-top shadow-sm" src="{{ image.image_thumbnail.url }}" alt="{{ image.title }}" loading="lazy">
                        </a>
                    </span>
                    <div class="card-body">
                        <div class="card-title">
                            <div class="row">
                                <div class="col-6">
                                    <h5 style="height: 4rem;">
                                        {% if image.title|length > 30 %}
                                        {{image.title|slice:30|title}}...
                                        {% else %}
                                        {{image.title|title|truncatewords:5}}
                                        {% endif %}
                                    </h5>
                                </div>
                                <div class="col text-end">
                                    {% if image.host == null %}
                                    <p style="color: var(--bs-secodary-color)">user deleted :(</p>
                                    {% else %}
                                    <a href="{% url 'profile' image.host.id %}" class="link-light link-opacity-50-hover" style="text-decoration: none;">@{{image.host.username}}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="card-text" style="color: var(--bs-secondary-color); height: 8rem;" >
                            {% if image.description|length > 202 %}
                            {{ image.description|slice:202}}...
                            {% else %}
                            {{ image.description|truncatewords:30}}
                            {% endif %}
                        </div>
                        <div class="row">
                            <a href="{% url 'view-image' image.id %}" type="button" class="btn btn-primary col-6 me-3">View</a>
                            {% if request.user == image.host %}
                            <a href="{% url 'edit-image' image.id %}" type="button" class="btn btn-outline-info col mx-2">Edit</a>
                            <a href="{% url 'delete-image' image.id %}" type="button" class="btn btn-outline-danger col mx-1">Delete</a>
                            {% endif %}
                        </div>
                        <div class="row pt-2">
                            <div class="col-3"><small style="color: var(--bs-gray-500)"><img class="me-1" src="{% static 'images/views_eye.ico' %}" loading="lazy">{{image.image_views}}</small></div>
                            <div class="col text-end"><small class="text-body-secondary">{{image.created_at|timesince}} ago</small></div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% if page_obj.has_other_pages %}
    <nav class="d-flex pt-4 justify-content-center">
        <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link page-arrow" href="/"><<</a>  
        </li>
        <li class="page-item">
            <a class="page-link page-arrow" href="?page={{ page_obj.previous_page_number }}"><</a>  
        </li>
        {% endif %}
            {% for p in page_obj.paginator.page_range %}
            {% if page_obj.number == p %}
            <li class="page-item active" aria-current="page"><span class="page-link">{{ p }}</span></li>
            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
            <li class="page-item">
                <a class="page-link" href="?page={{ p }}">{{ p }}</a>  
            </li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link page-arrow" href="?page={{ page_obj.next_page_number }}">></a>  
            </li>
            <li class="page-item">
                <a class="page-link page-arrow" href="?page=999999999999999999999999999999999999">>></a>  
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
<!-- Image container starts -->
{% else %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <h3 class="d-flex justify-content-center py-5"><p class="text-center">There's no images yet...</p></h3>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 shadow-sm"></div>
    </div>
</div>
{% endif %}