{% load static %}
<!-- Image container starts -->
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <h3 class="d-flex justify-content-center py-5"><p>Gallery feed</p></h3>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 shadow-sm">
            {% for image in images %}
            <div class="col">
                <div class="card shadow">
                    <img class="rounded card-img-top" src="{{image.image.url}}" alt="{{ image.title }}" height="325">
                    <div class="card-body">
                        <div class="card-title">
                            <div class="row">
                                <div class="col-6">
                                    <h5 style="height: 4rem;">{% if image.title|length > 30 %}{{image.description|slice:30}}...
                                        {% else %}{{image.title}}
                                        {% endif %}</h5>
                                </div>
                                <div class="col text-end">
                                    {% if image.host == null %}
                                    <p style="color: var(--bs-secodary-color)">user deleted :(</p>
                                    {% else %}
                                    <a href="{% url 'profile' image.host.id %}" class="link-light link-opacity-50-hover" style="text-decoration: none;">@{{image.host.username}}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="card-text" style="color: var(--bs-secondary-color); height: 8rem;" ><p>{% if image.description|length > 200 %}{{image.description|slice:200}}...
                            {% else %}{{image.description}}
                            {% endif %}</p>
                        </div>
                        <div class="row">
                            <a href="{% url 'view-image' image.id image.unique_name %}" type="button" class="btn btn-primary col-6 me-3">View</a>
                            {% if request.user == image.host %}
                            <a href="{% url 'edit-image' image.id image.unique_name %}" type="button" class="btn btn-outline-info col mx-2">Edit</a>
                            <a href="{% url 'delete-image' image.id image.unique_name %}" type="button" class="btn btn-outline-danger col mx-1">Delete</a>
                            {% endif %}
                        </div>
                        <div class="row pt-2">
                            <div class="col-3"><small style="color: var(--bs-gray-500)"><img src="{% static 'images/views_eye.ico' %}">{{image.image_views}}</small></div>
                            <div class="col text-end"><small class="text-body-secondary">{{image.created_at|timesince}} ago</small></div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Image container starts -->