<style>
    .dropdown-item{
        font-size: 1.2rem;
        letter-spacing: 1.15px;
    }
</style>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center px-5">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
            <strong>Album</strong>
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <form class="d-flex mx-4" role="search">
                <input name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            {% if request.user.is_staff %}
            <li class="nav-item"><a class="d-flex mx-4 navbar-brand text-muted" href="http://127.0.0.1:8000/admin/">admin page</a></li>
            {% endif %}
          </li>
        </ul>
        
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link text-white dropdown-toggle px-5" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 22px; letter-spacing: 1.75px;">
                <img class="rounded-circle" src="{{ request.user.avatar.url }}" style="width: 45px; text-decoration: none;">  Profile
              </a>
              <ul class="dropdown-menu dropdown-menu-dark col-md-12 " aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item nav-link text-white text-center" href="{% url 'profile' request.user.id %}">My profile</a></li>
                <li><a class="dropdown-item nav-link text-white text-center" href="{% url 'edit-user' request.user.id %}">Settings</a></li>
                <li><a class="dropdown-item nav-link text-white text-center" href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </li>
        </ul>
        {% else %}
        <a class="nav-link text-white mx-4" style="font-size: 22px;" href="{% url 'login' %}">Login</a>
        <a class="nav-link text-white" style="font-size: 22px;" href="{% url 'register' %}">Register</a>
        {% endif %}
      </div>
    </div>
</nav>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
          <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
{% endif %}
  