<style>
    .dropdown-item{
        font-size: 1.2rem;
        letter-spacing: 1.15px;
    }
    .navbar{
        height: 80px;
    }
    form{
        height: 50px;
    }
    .navbar-toggler{
        height: 50px;
        width: 85px;
    }
    .search-bar{
        width: 400px;
    }
    .modal-dialog{
        height: 450px !important;
        max-width: 600px !important;
    }
    .modal-content{
        height: 450px !important;
    }
    @media(min-width:2250px){
        .modal-dialog{
            height: 900px !important;
            max-width: 1200px !important;
    }
        .modal-content{
            height: 800px !important;
    }
        .modal-element{
            margin-top: 1.5rem;
        }
    }
</style>


<div class="navbar navbar-dark bg-dark pb-3 mb-3" id="navbar_top">
    <div class="container-fluid">
            <div class="col col-md-3 ps-sm-5 ms-sm-5">
                <a href="{% url 'home' %}" class="navbar-brand"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
                    <strong class="fs-4">Album</strong></a>
            </div>
            <div class="col d-xl-block d-none">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <form action="{% url 'home' %}?q=" class="d-flex" role="search">
                            <input required name="q" class="form-control me-2 search-bar" type="search" placeholder="Search" aria-label="Search" value="{% if q %}{{q}}{% endif %}">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </li>
                </ul>
            </div>
            {% if not request.user.is_authenticated %}
            <div class="row align-items-end me-sm-5 pe-sm-5">
                <button class="navbar-toggler col-12 col-md-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                            <div class="offcanvas-header">
                                <p class="fw-bolder fs-3">You're not logged in!</p>
                           </div>
                        </div>
                    <div class="offcanvas-body">
                        <hr>
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                             <li class="nav-item pb-4 pt-2">
                                <a href="#" onclick="IDClick(id);event.preventDefault();" data-bs-toggle="modal" data-bs-target="#modal" class="link-body-emphasis link-underline-opacity-0 link-opacity-50-hover fs-2">Login</a>
                            </li>
                            <li class="nav-item pb-2">
                                <a class="link-body-emphasis link-underline-opacity-0 link-opacity-50-hover fs-2" href="{% url 'register' %}">Register</a>
                            </li>
                            <hr>
                            <li class="nav-item mt-2">
                                <form action="" class="d-flex d-xl-none" role="search">
                                    <input name="q" class="form-control me-2" id="search" type="search" placeholder="{% if q %}q{% else %}Search{% endif %}" aria-label="Search" value="{% if q %}{{q}}{% endif %}">
                                    <button class="btn btn-outline-success" type="submit">Search</button>
                                </form>
                            </li>
                            <li class="nav-item mt-4 pt-4">
                                <button class="navbar-toggler ps-1 d-sm-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" 
                                aria-controls="offcanvasNavbar" aria-label="Toggle navigation" style="width: 10rem; height: 30px;">
                                    <p class="text-center">« Hide sidebar</p>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            {% else %}
            <div class="row align-items-end me-sm-5 pe-sm-5">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                <a href="{% url 'profile' request.user.id %}" class="h1 link-body-emphasis link-underline-opacity-0 link-opacity-50-hover offcanvas-title" id="offcanvasNavbarLabel">
                    <img class="rounded-circle" src="{{ request.user.avatar.url }}" style="width: 80px; height: 69.3px; text-decoration: none;">
                    {{ request.user.username }}</a>
                </div>
                <hr>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item pb-4 pt-2">
                            <a class="link-body-emphasis link-underline-opacity-0 link-opacity-50-hover fs-2" href="{% url 'profile' request.user.id %}">My profile</a>
                        </li>
                        <li class="nav-item pb-2">
                            <a class="link-body-emphasis link-underline-opacity-0 link-opacity-50-hover fs-4" href="{% url 'edit-user' request.user.id %}">Settings</a>
                        </li>
                        <li class="nav-item pb-4">
                            <a class="link-body-emphasis link-underline-opacity-0 link-opacity-50-hover fs-4" href="{% url 'user-images' request.user.id %}">My images</a>
                        </li>
                        <hr>
                        <li class="nav-item pb-2">
                            <a class="link-danger link-opacity-75 link-underline-opacity-0 link-opacity-25-hover fs-3" href="{% url 'logout' %}">Log out</a>
                        </li>
                        <li class="nav-item mt-3">
                            <form class="d-flex d-xl-none" role="search">
                                <input name="q" class="form-control me-2 search-bar" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<script>
    // Function for making navbar fixed to the top only after scrolling down
    document.addEventListener("DOMContentLoaded", function(){
    window.addEventListener('scroll', function() {
        if (window.scrollY > 1) {
        document.getElementById('navbar_top').classList.add('fixed-top');
        // add padding top to show content behind navbar
        navbar_height = document.querySelector('.navbar').offsetHeight;
        document.body.style.paddingTop = navbar_height + 'px';
      } else {
        document.getElementById('navbar_top').classList.remove('fixed-top');
        // remove padding top from body
        document.body.style.paddingTop = '0';
      } 
  });
}); 
</script>
{% include 'base/login_modal.html' %}