<!doctype html>
{% extends 'main.html' %}

{% block content %}
<style>
    .btn-sm {
    padding: 5px 18px;
    font-size: 14px;
}
</style>
<main>

    <section class="text-center container">
        <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light py-4"><strong>Main Gallery</strong></h1>
            <p class="lead text-body-secondary">Step into our online gallery and experience a world of captivating visuals. Discover a curated selection of stunning photographs that capture beauty, emotions, and stories, all at your fingertips.</p>
            <p>
            <a href="{% url 'add-image' %}" class="btn btn-primary btn-lg my-2">Add your own image</a>
            </p>
        </div>
        </div>
    </section>

<!--TODO: add 'new' heading to new images-->
    <!-- image container class starts -->
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
        <h3 class="d-flex justify-content-center py-5"><p>Gallery feed</p></h3>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for image in images %}
            <div class="col">
            <div class="card shadow-sm">
                <img class="rounded image-thumbnail" src="{{ image.image.url }}" alt="{{ image.title }}" width="100%" height="325">
                <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h5 class="card-title">{{image.title}}</h5>
                    <a href="{% url 'profile' image.host.id %}" class="text-black">@{{image.host.username}}</a>
                </div>
                <p class="card-text">{% if image.description|length > 200 %}{{image.description|slice:200}}...
                    {% else %}{{image.description}}
                    {% endif %}
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group"> 
                        <a href="{% url 'view-image' image.id image.unique_name %}" type="button" class="btn btn-custom btn-sm btn-primary">View</a>
                        {% if request.user == image.host %}
                        <a href="{% url 'edit-image' image.id image.unique_name %}" type="button" class="btn btn-sm btn-outline-info mx-2">Edit</a>
                        <a href="{% url 'delete-image' image.id image.unique_name %}" type="button" class="btn btn-sm btn-outline-danger">Delete</a>
                        {% endif %}
                    </div>
                    <small class="text-body-secondary">{{image.created_at|timesince}} ago</small>
                </div>
                </div>
            </div>
            </div>
            {% endfor %}
        </div>
        </div>
    </div>
    <!-- image container class ends -->


</main>
{% endblock content %}