<!doctype html>
{% extends 'main.html' %}
{% block content %}
<style>
    .btn-sm {
    padding: 5px 18px;
    font-size: 14px;
}
</style>
<main>

    <section class="text-center container">
        <div class="row pb-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light pb-4"><strong>Main Gallery</strong></h1>
            <p class="lead text-body-secondary">Step into our online gallery and experience a world of captivating visuals. Discover a curated selection of stunning photographs that capture beauty, emotions, and stories, all at your fingertips.</p>
            <p>
            <a href="{% url 'add-image' %}" class="btn btn-primary btn-lg my-2">Add your own image</a>
            </p>
        </div>
        </div>
    </section>
{% include 'album_component.html' %}
</main>
{% endblock content %}