{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="col">
    <div class="card shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="400" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder:
                                                      Thumbnail" preserveAspectRatio="xMidYMid
                                                      slice" focusable="false">
        <title>Placeholder</title><rect width="30%" height="100%" fill="#55595c" />
        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
        </svg>
    </div>
</div>
<div>
    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
</div>

{% endblock content %}
    