{% extends 'main.html' %}
{% block content %}

<div class="container min-vh-100 d-flex justify-content-center align-items-center">
    <div class="row my-form">
        <div class="col-md-8 offset-md-2">
            <img class="rounded img-fluid mx-auto p-2" src="{{ image.image.url }}" alt="{{ image.title }}">
            <h1 class="fw-light">{{image.title}}</h1>
            <hr>
            <p class="lead text-body-secondary">{{image.description}}</p>
            <a href="/" class="btn btn-primary my-2">Download image</a>
            {% if request.user == image.host %}
            <a href="{% url 'edit-image' image.unique_name %}" type="button" class="btn btn-sm btn-outline-info">Edit</a>
            <a href="{% url 'delete-image' image.unique_name %}" type="button" class="btn btn-sm btn-outline-danger">Delete</a> 
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}