{% extends 'main.html' %}
{% block content %}

<div class="container min-vh-100 d-flex justify-content-center align-items-center">
    <div class="row my-form">
        <div class="col-md-8 offset-md-2">
            <img class="rounded img-fluid mx-auto p-2" style="max-height: 1500px;" src="{{ image.image.url }}" alt="{{ image.title }}">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h1 class="fw-light"><b>{{image.title}}</b></h1>
                    </div>
                    <div class="col-md-3">
                        <a href="{% url 'profile' image.host.id %}" class="text-black" style="text-decoration: none;"><img class="bg-info rounded-circle justify-content-end" src="{{image.host.avatar.url}}" style="width: 55px; text-decoration: none;">  @{{image.host.username}}</a>
                    </div>
                </div>
            </div>
            <hr>
            <p class="lead text-body-secondary">{{image.description}}</p>
            <a href="{% url 'download-image' image.unique_name %}" class="btn btn-primary my-2">Download image</a>
            {% if request.user == image.host %}
            <a href="{% url 'edit-image' image.unique_name %}" type="button" class="btn btn-sm btn-outline-info">Edit</a>
            <a href="{% url 'delete-image' image.unique_name %}" type="button" class="btn btn-sm btn-outline-danger">Delete</a> 
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}